---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Products/2011-10-01?ASINList.ASIN.1=0001846655&ASINList.ASIN.10=000184749X&ASINList.ASIN.11=0001847600&ASINList.ASIN.12=000184766X&ASINList.ASIN.13=0001847678&ASINList.ASIN.14=0001847708&ASINList.ASIN.15=0001847724&ASINList.ASIN.16=0001847732&ASINList.ASIN.17=0001847759&ASINList.ASIN.18=0001847775&ASINList.ASIN.19=0001847856&ASINList.ASIN.2=0001846809&ASINList.ASIN.20=0001847872&ASINList.ASIN.3=0001846833&ASINList.ASIN.4=0001846868&ASINList.ASIN.5=0001847112&ASINList.ASIN.6=0001847201&ASINList.ASIN.7=000184735X&ASINList.ASIN.8=0001847430&ASINList.ASIN.9=0001847473&AWSAccessKeyId=AKIAJ767ZET2BZR4UDDQ&Action=GetLowestOfferListingsForASIN&MarketplaceId=ATVPDKIKX0DER&SellerId=A2H6NH4SQYFZ4M&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-11T19%3A53%3A29Z&Signature=ZTzGoNReSi7E2TZ08H86dVdWE%2FhQf4Pj1jfDt%2BXutq0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - ZWVhod9kS2GYHqXPfmljIwuqjWId3DO5aCJ1yFD6aQnI91wTVvf0oK5LTGIAIf5bqXE9DhQA0lE=,
        1ktjJcV15xZXx+FycoURDf8uUprfwmHgZ9kNGdKdWTnwA3lJeRcKMjZ/Y/OSIJSV0A1c/m64MbZQ
        CJ9YXCAB1w==
      x-amz-request-id:
      - 3d030248-320c-4845-a34a-73077743015a
      x-mws-request-id:
      - 3d030248-320c-4845-a34a-73077743015a
      x-mws-timestamp:
      - '2012-07-11T19:53:29.979Z'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <GetLowestOfferListingsForASINResponse xmlns="http://mws.amazonservices.com/schema/Products/2011-10-01"><GetLowestOfferListingsForASINResult
        ASIN="0001846655" status="Success"><AllOfferListingsConsidered>true</AllOfferListingsConsidered><Product
        xmlns="http://mws.amazonservices.com/schema/Products/2011-10-01" xmlns:ns2="http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd"><Identifiers><MarketplaceASIN><MarketplaceId>ATVPDKIKX0DER</MarketplaceId><ASIN>0001846655</ASIN></MarketplaceASIN></Identifiers><LowestOfferListings><LowestOfferListing><Qualifiers><ItemCondition>Used</ItemCondition><ItemSubcondition>Good</ItemSubcondition><FulfillmentChannel>Merchant</FulfillmentChannel><ShipsDomestically>False</ShipsDomestically><ShippingTime><Max>0-2
        days</Max></ShippingTime><SellerPositiveFeedbackRating>95-97%</SellerPositiveFeedbackRating></Qualifiers><NumberOfOfferListingsConsidered>1</NumberOfOfferListingsConsidered><SellerFeedbackCount>7343</SellerFeedbackCount><Price><LandedPrice><CurrencyCode>USD</CurrencyCode><Amount>10.63</Amount></LandedPrice><ListingPrice><CurrencyCode>USD</CurrencyCode><Amount>6.64</Amount></ListingPrice><Shipping><CurrencyCode>USD</CurrencyCode><Amount>3.99</Amount></Shipping></Price><MultipleOffersAtLowestPrice>False</MultipleOffersAtLowestPrice></LowestOfferListing><LowestOfferListing><Qualifiers><ItemCondition>Used</ItemCondition><ItemSubcondition>Acceptable</ItemSubcondition><FulfillmentChannel>Merchant</FulfillmentChannel><ShipsDomestically>True</ShipsDomestically><ShippingTime><Max>0-2
        days</Max></ShippingTime><SellerPositiveFeedbackRating>95-97%</SellerPositiveFeedbackRating></Qualifiers><NumberOfOfferListingsConsidered>1</NumberOfOfferListingsConsidered><SellerFeedbackCount>286303</Selle[...]
