---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Products/2011-10-01?AWSAccessKeyId=AKIAJ767ZET2BZR4UDDQ&Action=GetServiceStatus&MarketplaceId=ATVPDKIKX0DER&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-11T19%3A00%3A44Z&Signature=1murHhpVoq8VLcKNC1k7HFfMAVv%2BbLCutCAtS2Gi%2F%2F0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - be1169dc-558c-4825-aab5-54ab50cb6b1d
      x-mws-timestamp:
      - '2012-07-11T19:00:44.831Z'
      x-mws-response-context:
      - Dld8DZYRByzQxNGKNjRZ3QHuo/s1D+UjLy8WgpEe/haNEoL50Ip2WSATGV+K9df1rI52evKbbfty
        TBSGZrKlAg==
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"http://mws.amazonservices.com/schema/Products/2011-10-01\">\n
        \ <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2012-07-11T19:00:44.831Z</Timestamp>\n
        \ </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>be1169dc-558c-4825-aab5-54ab50cb6b1d</RequestId>\n
        \ </ResponseMetadata>\n</GetServiceStatusResponse>\n"
  recorded_at: Wed, 11 Jul 2012 19:00:44 GMT
recorded_with: VCR 2.2.3
