---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Products/2011-10-01?AWSAccessKeyId=AKIAJ767ZET2BZR4UDDQ&Action=GetServiceStatus&MarketplaceId=ATVPDKIKX0DER&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-11T18%3A30%3A35Z&Signature=%2FgdHzkaFBG1fL8g7WPYnUR0fTZnwAjEQ9YYARdw2AlM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - f9934f4d-ce88-44ac-918d-55add1786b8c
      x-mws-timestamp:
      - '2012-07-11T18:30:36.222Z'
      x-mws-response-context:
      - oqo0adyrggqsSww/ydU+Lep5NE9F1Bzg91gmpRZdOP1C2lpjj2wOywbnK+qkVRjPKmvZFVXkiZ4=
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"http://mws.amazonservices.com/schema/Products/2011-10-01\">\n
        \ <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2012-07-11T18:30:36.222Z</Timestamp>\n
        \ </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>f9934f4d-ce88-44ac-918d-55add1786b8c</RequestId>\n
        \ </ResponseMetadata>\n</GetServiceStatusResponse>\n"
  recorded_at: Wed, 11 Jul 2012 18:30:36 GMT
recorded_with: VCR 2.2.3
